@model IEnumerable<GetAllandSearchDepartmentDTO>
@{
    ViewData["Title"] = "Department List";
}

@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <!-- Toast Container -->
    <div aria-live="polite" aria-atomic="true" style="position: relative;">
        <div id="myToast" class="toast shadow-lg custom-toast" data-autohide="false" style="background-color: #f0f8ff; border: 1px solid #007bff;">
            <div class="toast-header" style="background-color: #007bff; color: white;">
                <strong class="mr-auto">🔔 Notification</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" style="color: white;">
                    <span>&times;</span>
                </button>
            </div>
            <div class="toast-body" style="color: #00008b; font-weight: bold;">
                @TempData["Message"]
            </div>
        </div>
    </div>
}

<div class="d-flex justify-content-center">
    <h2 class="text-secondary fs-3">Display Departments</h2>
</div>

<div class="d-flex justify-content-center mb-2">
    <a class="btn btn-outline-secondary bg-opacity-50" asp-action="Create"><i class="fa-solid fa-circle-plus mx-2"></i>Create New Department</a>
</div>


<div class="input-group mb-2">
    <input type="search"
           class="form-control rounded-start-pill searchvalue"
           placeholder="SEARCH BY Department Name">
    <button type="submit" class="btn btn-outline-secondary rounded-end-pill" id="searchbtn">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>

   @if(Model.Count() > 0)
{
<table class="table table-hover table-striped table-responsive text-center table-dark rounded-2">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(X => X.Name)</th>
            <th scope="col">@Html.DisplayNameFor(X => X.EmployeeCount)</th>
            <th scope="col">@Html.DisplayNameFor(X => X.SumSalary)</th>
            <th scope="col">@Html.DisplayNameFor(X => X.Manager)</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
    </thead>
  
        <tbody id="employeeTable">
                @await Html.PartialAsync("_IndexDepartmentPartial", Model)
        </tbody>


        
</table>
}

else
{
<div class="alert alert-info mt-3">
    <h3 class="text-center">No Departments Found </h3>
</div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

         $(document).ready(function () {
        $(".deletebtn").on("click", function () {

            var departmentId = $(this).data("id");

        if(confirm("Are you sure you want to delete this department?")) {
            $.ajax({
                url: '@Url.Action("Delete", "Department")',
                type: "POST",
                data: { id: departmentId  },
                success: function (response) {
                    if (response.success) {
                        window.location.href =response.redirecturl;
                    }
                },
                error: function () {
                     alert("Something went wrong. Please try again.");
                }
            });
        }
        });
        });

  $(document).ready(function () {
        $("#searchbtn").on('click',function(){
        var value=$(".searchvalue").val();
         $.ajax({
                url: '@Url.Action("Search", "Department")',
                type: "POST",
                data: { searchname: value },
                success: function (result) {
                   
                      $("#employeeTable").html(result);
                   
                        
                },
                error: function () {
                    alert("Something went wrong.");
                }
            });
        });

    });
</script>

